<!--index.html-->
<!doctype html>
<html>
  <body>
    <div>
      <text>상대방 유저</text>
      <input id="user1-input" type="text"></input>
    </div>
    <script>
      document.addEventListener('keypress', function () {
        const input = document.getElementById('user1-input');

        input.addEventListener('input', function () {
          const value = input.value;
          var pattern = /[a-z0-9]|[ \[\]{}()<>?|`~!@#$%^&*-_+=,.;:\"'\\]/g;
          
          this.value = this.value.replace(pattern, '');
        });
      });

    </script>
  </body>
</html>
